.services {
  // padding: var(--offset) 0;
  padding-top: var(--offset);
  &__title {
    margin-bottom: 36px;
  }

  &__item {
    padding: 24px;
    border-radius: 24px;
    background: var(--light-color);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
    background-image: url('../img/svg/services-1.svg');
    background-repeat: no-repeat;
    background-size: 42px 42px;
    background-position: top 24px right 24px;
    grid-column: 4 span;
    min-height: 183px;
  }

  &__item:nth-child(2) {
    background-image: url('../img/svg/services-2.svg');

  }
  &__item:nth-child(3) {
    background-image: url('../img/svg/services-3.svg');

  }
}
