<section class="approach" id="approach">
  <div class="container">
    <h2 class="approach__title section-title">Кому мы подходим</h2>

    <div class="aproach__items grid">
      <div class="approach__item">
        <h3 class="approach__item-head">Стартапам и небольшим магазинам</h3>
        <p class="approach__item-descr">Организуем отлаженные складские операции и поможем быстрее начать работу вашего бизнеса.</p>
      </div>

      <div class="approach__item">
        <h3 class="approach__item-head">Оптовой торговле</h3>
        <p class="approach__item-descr">Мы предоставляем возможность оформления оптовых отгрузок. Наши компетентные сотрудники возьмут на себя всю работу со складом.</p>
      </div>

      <div class="approach__item">
        <h3 class="approach__item-head">Поставщикам на маркетплейсы</h3>
        <p class="approach__item-descr">Организуем хранение товаров, промаркируем и доставим товар на склад маркетплейса или конечному покупателю.</p>
      </div>


      <div class="approach__item">
        <h3 class="approach__item-head">Розничной торговле</h3>
        <p class="approach__item-descr">Поможем организовать складские операции и хранение товаров. Мы работаем с широким набором товарных категорий.</p>
      </div>
    </div>
  </div>
</section>
