<section class="choose">
  <div class="container">
    <h2 class="choose__title section-title">Почему выбирают нас</h2>

    <div class="choose-rows">
      <div class="choose-row__top choose-top grid">
        <div class="choose-top__el1">
          <h3 class="choose-top__el1-head">Нет ограничений по минимальному количеству отгружаемых товаров</h3>

        </div>

        <div class="choose-top__el2">
          <h3 class="choose-top__el2-head">Срок сборки от 2 до 5 дней</h3>
          <p class="choose-top__el2-descr">Знаем правила упаковки  и маркировки товаров для популярных маркетплейсов</p>

        </div>

      </div>
      <div class="choose-row__bottom choose-bottom grid">
        <div class="choose-bottom__el1">
          <h3 class="choose-bottom__el1-head">Компенсируем обезличку</h3>
          <p class="choose-bottom__el1-descr">Мы уверены в качестве своей работы, и готовы компенсировать ваши расходы на услуги по приведению товара в соответствие с требованиями маркетплейсов</p>
        </div>
        <div class="choose-bottom__el2">
          <h3 class="choose-bottom__el2-head">Оказываем услуги официально, заключаем договор</h3>

          <p class="choose-bottom__el1-descr">Открытая политика, никаких скрытый платежей или комиссий. Оплата на рассчетный счет, предоставляем закрывающие документы через ЭДО или курьера.</p>
        </div>

      </div>
    </div>
    
    
  </div>
</section>