<section class="consult">
  <div class="container grid">
    <div class="consult__row">
      <h2 class="consult__title section-title visually-hidden">Консультирование в order-flow.ru</h2>
      <h3 class="consult__subtitle">Хотим вас проконсультировать
        <span>Мы позвоним в ближайшее время</span>
      </h3>
    </div>

    <form class="consult__form consult-form" action="">
      <div class="consult-form__box">
        <input class="consult-form__input" type="text" value="" placeholder="Ваш номер телефона">
        <button class="consult-form__btn btn-reset btn" type="submit">Позвоните мне</button>
      </div>
      <small class="consult-form__data">Отправляя номер телефона, вы соглашаетесь на <a href="#">обработку персональных
          данных</a></small>
    </form>
  </div>
</section>

<script>

  const consultField = document.querySelector('.consult-form__input');
  consultField.addEventListener('focus', () => {
    consultField.value = "+7";
  });




</script>
