<section class="faq">
  <div class="container grid">
    <h2 class="faq__title section-title">Частые вопросы</h2>

    <div class="accordion">
      <ul class="accordion__list list-reset">
        <li class="accordion__item">
          <button class="accordion__item-btn btn-reset" aria-expanded="false">
            <div class="accordion__item-box">
              <h3 class="accordion__item-question">Как начать с вами работать?</h3>
              <svg class="accordion__item-arrow" width="14" height="9" viewBox="0 0 14 9" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1 8L7 2L13 8" stroke="#7D7D7D" stroke-width="2" stroke-linecap="round" />
              </svg>

            </div>
            <p class="accordion__item-text" aria-hidden="true">Просто позвоните нам и менеджер согласует с вами условия, подготовит пакет
              документов. Как правило первую операцию с вашим товаром можно сделать уже на следующий рабочий день после
              обращения.</p>
          </button>
        </li>

        <li class="accordion__item">
          <button class="accordion__item-btn btn-reset" aria-expanded="false">
            <div class="accordion__item-box">
              <h3 class="accordion__item-question">Как быстро вы упакуете и доставите на маркетплейсы мои товары?</h3>
              <svg class="accordion__item-arrow" width="14" height="9" viewBox="0 0 14 9" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1 8L7 2L13 8" stroke="#7D7D7D" stroke-width="2" stroke-linecap="round" />
              </svg>

            </div>
            <p class="accordion__item-text" aria-hidden="true">Срок сильно зависит от объема партии и от наличия уникальных требований к
              упаковке. При обычных условиях - отгрузка производится или день-в-день или на следующий рабочий день.</p>
          </button>
        </li>

        <li class="accordion__item">
          <button class="accordion__item-btn btn-reset" aria-expanded="false">
            <div class="accordion__item-box">
              <h3 class="accordion__item-question">Партии какого объёма вы можете взять в работу?</h3>
              <svg class="accordion__item-arrow" width="14" height="9" viewBox="0 0 14 9" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1 8L7 2L13 8" stroke="#7D7D7D" stroke-width="2" stroke-linecap="round" />
              </svg>

            </div>
            <p class="accordion__item-text" aria-hidden="true">Любые. Работаем от 1 шт.</p>
          </button>
        </li>


        <li class="accordion__item">
          <button class="accordion__item-btn btn-reset" aria-expanded="false">
            <div class="accordion__item-box">
              <h3 class="accordion__item-question">Когда я могу доставить товары на ваш склад?</h3>
              <svg class="accordion__item-arrow" width="14" height="9" viewBox="0 0 14 9" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1 8L7 2L13 8" stroke="#7D7D7D" stroke-width="2" stroke-linecap="round" />
              </svg>

            </div>
            <p class="accordion__item-text" aria-hidden="true">Склад на приемку работает по будним дням с 10.00 до 19.00. Предварительно
              обязательно согласуйте время визита с менеджером. Возможна приемка в выходные. Первую партию вы можете
              сразу привезти на склад и заключить договор на месте.</p>
          </button>
        </li>


        <li class="accordion__item">
          <button class="accordion__item-btn btn-reset" aria-expanded="false">
            <div class="accordion__item-box">
              <h3 class="accordion__item-question">Можете ли вы забрать товар у поставщика или у транспортной компании?
              </h3>
              <svg class="accordion__item-arrow" width="14" height="9" viewBox="0 0 14 9" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1 8L7 2L13 8" stroke="#7D7D7D" stroke-width="2" stroke-linecap="round" />
              </svg>

            </div>
            <p class="accordion__item-text" aria-hidden="true">Да, конечно. У нас собственные автомобили и экспедиторы. Мы можем гибко
              подстраиваться под ваши задачи.</p>
          </button>
        </li>



        <li class="accordion__item">
          <button class="accordion__item-btn btn-reset" aria-expanded="false">
            <div class="accordion__item-box">
              <h3 class="accordion__item-question">Вы доставляете упакованный товар на склады в другие города?</h3>
              <svg class="accordion__item-arrow" width="14" height="9" viewBox="0 0 14 9" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1 8L7 2L13 8" stroke="#7D7D7D" stroke-width="2" stroke-linecap="round" />
              </svg>

            </div>
            <p class="accordion__item-text" aria-hidden="true">Да, с привлечением сторонних транспортных компаний.</p>
          </button>
        </li>


        <li class="accordion__item">
          <button class="accordion__item-btn btn-reset" aria-expanded="false">
            <div class="accordion__item-box">
              <h3 class="accordion__item-question">Доставляете ли вы товары по системе FBS?</h3>
              <svg class="accordion__item-arrow" width="14" height="9" viewBox="0 0 14 9" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1 8L7 2L13 8" stroke="#7D7D7D" stroke-width="2" stroke-linecap="round" />
              </svg>

            </div>
            <p class="accordion__item-text" aria-hidden="true">Да, конечно, это очень востребованная услуга.</p>
          </button>
        </li>


        <li class="accordion__item">
          <button class="accordion__item-btn btn-reset" aria-expanded="false">
            <div class="accordion__item-box">
              <h3 class="accordion__item-question">На вашем складе безопасно хранить мой товар?</h3>
              <svg class="accordion__item-arrow" width="14" height="9" viewBox="0 0 14 9" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1 8L7 2L13 8" stroke="#7D7D7D" stroke-width="2" stroke-linecap="round" />
              </svg>

            </div>
            <p class="accordion__item-text" aria-hidden="true">Конечно! Все склады оборудованы системами видеонаблюдения, контроля доступа
              и системами пожаротушения</p>
          </button>
        </li>


        <li class="accordion__item">
          <button class="accordion__item-btn btn-reset" aria-expanded="false">
            <div class="accordion__item-box">
              <h3 class="accordion__item-question">Вы помогаете разместиться на маркетлейсах?</h3>
              <svg class="accordion__item-arrow" width="14" height="9" viewBox="0 0 14 9" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1 8L7 2L13 8" stroke="#7D7D7D" stroke-width="2" stroke-linecap="round" />
              </svg>

            </div>
            <p class="accordion__item-text" aria-hidden="true">Да, при необходимости проконсультируем и расскажем как это делать.</p>
          </button>
        </li>



        <li class="accordion__item">
          <button class="accordion__item-btn btn-reset" aria-expanded="false">
            <div class="accordion__item-box">
              <h3 class="accordion__item-question">Работаете ли вы с возвратами?</h3>
              <svg class="accordion__item-arrow" width="14" height="9" viewBox="0 0 14 9" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M1 8L7 2L13 8" stroke="#7D7D7D" stroke-width="2" stroke-linecap="round" />
              </svg>

            </div>
            <p class="accordion__item-text" aria-hidden="true">Да, работаем. также можем организовать само выкупы.</p>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>

