<footer class="footer">
  <div class="footer__top">
    <div class="container footer__container">
      <a class="logo">
        <img class="logo__img" src="img/svg/logo-box.svg" alt="">

        <span class="logo__text">order-flow.ru </span>
      </a>

      <nav class="nav footer__nav" title="footer navigation">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link">Цены</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Услуги</a>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        </ul>
      </nav>

      <div class="footer__right">
        <a class="footer__phone" href="tel:79827623890">+7 (982) 762-38-90</a>

        <ul class="socials list-reset footer__socials">
          <li class="socials__item footer__socials-item">
            <a class="socials__link socials__link--tg footer__socials-link footer__socials-link--tg" href="#"></a>
          </li>

          <li class="socials__item footer__socials-item">
            <a class="socials__link socials__link--vk footer__socials-link footer__socials-link--vk" href="#"></a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="footer__bottom">
    <div class="container footer__bottom-container">
      <small class="footer__copy">© 2022 order-flow.ru</small>
      <small class="footer__policy">
        Правовая информация <span>и</span> политика обработки персональных данных
      </small>

    </div>
  </div>
</footer>
