<header class="header">
  <div class="container header__container">
    <a class="logo">
      <img class="logo__img" src="img/svg/logo-box.svg" alt="">

      <span class="logo__text">order-flow.ru </span>
    </a>

    <nav class="nav" title="navigation" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">Преимущества</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Кому подходим</a>
        </li>
        <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Цены</a></li>
        <li class="nav__item">
          <a href="#" class="nav__link">С чего начать</a>
        </li>
      </ul>
    </nav>

    <div class="header__right">
      <div class="header__right-box">
        <a class="header__phone" href="tel:79827623890">+7 (982) 762-38-90</a>

        <ul class="socials list-reset">
          <li class="socials__item">
            <a class="socials__link socials__link--tg" href="#"></a>
          </li>

          <li class="socials__item">
            <a class="socials__link socials__link--vk" href="#"></a>
          </li>
        </ul>
      </div>

      <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
