<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <h1 class="hero__title">Фулфилмент для маркетплейсов в Санкт-Петербурге</h1>
      <div class="hero__box">
        <svg class="hero__box-link">
          <use xlink:href="img/sprite.svg#ozon"></use>
        </svg>

        <svg class="hero__box-link">
          <use xlink:href="img/sprite.svg#wb"></use>
        </svg>


        <svg class="hero__box-link">
          <use xlink:href="img/sprite.svg#yandex"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
