<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__content">
        <div class="hero__row">
          <h1 class="hero__title">Фулфилмент <br> для маркетплейсов в Санкт-Петербурге</h1>
          <div class="hero__box">
            <span class="hero__box-img hero__box-img--ozon"></span>
            <span class="hero__box-img hero__box-img--wb"></span>
            <span class="hero__box-img hero__box-img--yandex"></span>
          </div>
        </div>
       

        <p class="hero__descr">Заберём, упакуем, промаркируем и доставим ваш товар на склад маркетплейса</p>

        <button class="hero__btn btn-reset btn">Рассчитать стоимость</button>
      </div>

      <div class="hero__images">
        <img class="hero__img" src="img/hero-bg.png" alt="собака в коробке с чеками">
      </div>

    </div>
  </div>
</section>