<section class="services" id="services">
  <div class="container">
    <h2 class="services__title section-title">Какие услуги оказываем</h2>

    <ul class="services__list list-reset grid">
      <li class="services__item">
        <h3 class="services__item-head">Упаковка</h3>
        <p class="services__item-descr">Подберём тип упаковки под требования любого маркетплейса, промаркируем для корректной приёмки на складе</p>
      </li>

      <li class="services__item">
        <h3 class="services__item-head">Хранение</h3>
        <p class="services__item-descr">Ответственное хранение вашего товара на нашем оборудованном складе</p>
      </li>


      <li class="services__item">
        <h3 class="services__item-head">Доставка</h3>
        <p class="services__item-descr">Ежедневная логистика на склады Санкт-Петербурга</p>
      </li>
    </ul>
  </div>
</section>
