<section class="start">
  <div class="container">
    <h2 class="start__title section-title">С чего начать?</h2>

    <ul class="start__items list-reset grid">
      <li class="start__item">
        <h3 class="start__item-head">Заявка</h3>
        <p class="start__item-descr">Оформите заявку на сайте, позвоните по телефону или напишите нам в меседжерах.</p>
      </li>

      <li class="start__item">
        <h3 class="start__item-head">Расчет</h3>
        <p class="start__item-descr">Рассчитаем для вас оптимальный вариант по упаковке и доставке товаров.</p>
      </li>

      <li class="start__item">
        <h3 class="start__item-head">Договор</h3>
        <p class="start__item-descr">Подписываем договор, предоставляем все закрывающие документы  через ЭДО или курьера.</p>
      </li>


      <li class="start__item">
        <h3 class="start__item-head">Приемка</h3>
        <p class="start__item-descr">Вы можете привезти товары самостоятельно или заказать нашу доставку до склада. Мы пересчитаем продукцию и подтвердим актом.</p>
      </li>


      <li class="start__item">
        <h3 class="start__item-head">Упаковка</h3>
        <p class="start__item-descr">Упакуем и промаркируем товары по стандартам маркетплейсов. Проверим товары на корректность и читабельность штрихкодов.</p>
      </li>


      <li class="start__item">
        <h3 class="start__item-head">Доставка</h3>
        <p class="start__item-descr">Соберем и доставим товар на склады маркетплейса.</p>
      </li>
    </ul>
  </div>
</section>
